@font-face {
  font-family: Nastaleeq
  src: url('./Jameel\ Noori\ Nastaleeq\ Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  --bg-color: rgb(243, 237, 241);
  --primary1: rgb(236, 226, 236);
  --primary2: rgb(205, 186, 203);
  --primary3: rgb(169, 147, 166);
  --delete: rgb(145, 120, 142);
  --add: #0002;
  --urdu-font: Nastaleeq, serif;
  background: var(--bg-color);
}

.rtl {
  direction: rtl;
  font-family: var(--urdu-font);
}

.invisible {
  display: none !important;
}

.lang-invisible {
  display: none !important;
}

header {
  width: 100vw;
}

h1 {
  text-align: center;
}

#how-to,
#language-selection {
  text-align: center;
  width: 90vw;
  margin: auto;
}

hr {
  margin: 1rem 0 0 0;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

input[type="date"],
input[type="datetime-local"] {
  margin-left: 0;
  direction: ltr
}

label {
  margin: 0.5rem 0.5rem 0 0.5rem;
  flex: 1;
}

#fasid {
  margin: 0 0.5rem;
}

#input_containers_container {
  display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  width: 100vw;
  font-size: 1.2rem;
  overflow: auto;
  margin: auto;
}

.input_container {
  float: left;
  margin: 0 auto;
  width: min(100vw, 410px);
  border:1px;
}

#fasid {
  margin: 0 0.5rem;
}

.date_and_time {
  width: 605px;
}

.time {
  min-width: 605px;
}

.vertical {
  margin: 0 0.5rem;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: column;
  display: flex;
  width: 100%;
  border: 2px groove;
}

.row:nth-child(even) {
  background: var(--primary1);
}

.row:nth-child(odd) {
  background: var(--primary2);
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

#button_add_before_container > button {
  margin: 0;
}

.urdu {
  direction: rtl;
  font-family: var(--urdu-font);
}

.plus {
  color: black;
  background-color: var(--add);
}

.clone {
  font-weight: bold;
  font-size: 14px;
}

.minus {
  color: red;
  background-color: var(--delete);
}

tbody > tr:nth-child(even) {
  background: var(--primary2);
}

tbody > tr:nth-child(odd) {
  background: var(--primary1);
}

.calc-btn {
  padding: 0.4rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  background: var(--primary3)
}

#content_container {
  padding: 1rem;
}

#language {
  padding: 0.2rem;
  font-size: 1rem;
  font-family: var(--urdu-font);
}

table {
  width: 100%;
}

.flex {
    display: flex;
}

.zero-flex {
    flex: 0;
}
