@font-face {
  font-family: Nastaleeq;
  src: url('./Jameel\ Noori\ Nastaleeq\ Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
}

.lang-invisible {
  display: none !important;
}

body {
  background-color: #cbb6c7;
  border: 8px groove #724a6d;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body * {
  font-family: 'Mea Culpa', cursive;
}

.rtl,
.urdu {
  direction: rtl;
  font-family: Nastaleeq, serif;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  border-radius: 0 0 15px 0;
  background: rgb(145, 120, 142);
  border: none;
  border-right: 4px solid #724a6d;
  border-bottom: 4px solid #3d0e3c;
  font-size: 1.5rem;
  cursor: pointer;
}

button.selected {
  background: rgb(203, 182, 201);
  box-shadow: 0 0 5px 5px;
}

#side-image {
  width: min(30vw, 160px);
  min-height: 300px;
  margin-top: 20vh;
  margin-bottom: 10vh;
  aspect-ratio: 3.2 / 8.5;
}

h1 {
  color: #3d0e3c;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 4rem 1rem;
}

#mid {
  display: flex;
  align-items: center;
}

#links {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(13px, 4vw, 1.5rem);
  margin: 15vh max(-10vw, -15px) 0 max(-10vw, -15px);
}

.page-link {
  display: flex;
  align-items: center;
  width: 50vw;
  padding: clamp(13px, 4vw, 1.5rem);
  color: black;
  background: #6e4a6e;
}

#second-row {
  background: #ae8a98;
}

#third-row {
  background: #dbcfd9;
}

.icon {
  width: clamp(13px, 6vw, 1.8rem);
  height: clamp(13px, 6vw, 1.8rem);
  max-width: 36px;
  max-height: 36px;
}

h2 {
  margin: 0 0.5rem;
  font-size: clamp(13px, 6vw, 1.8rem);
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  color: #3d0e3c;
}