@font-face {
  font-family: Nastaleeq;
  src: url('./Jameel\ Noori\ Nastaleeq\ Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
}

.lang-invisible {
  display: none !important;
}

body {
  position: relative;
  background-color: #cbb6c7;
  background-image: url(./images/cover2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border: 8px groove #724a6d;
  min-height: 100vh;
  box-sizing: border-box;
}

body::before {
  content: "";

  height: 100vh;
  width: 100vw;
}

body::before.right {
  transform: scaleX(-1);
}

body * {
  font-family: 'Mea Culpa', cursive;
}

.rtl,
.urdu {
  direction: rtl;
  font-family: Nastaleeq, serif;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  border-radius: 0 0 15px 0;
  background: rgb(145, 120, 142);
  border: none;
  border-right: 4px solid #724a6d;
  border-bottom: 4px solid #3d0e3c;
  font-size: 1.5rem;
  cursor: pointer;
}

button.selected {
  background: rgb(203, 182, 201);
  box-shadow: 0 0 5px 5px;
}

/* Main content */
h1 {
  color: #3d0e3c;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8rem;
}

.row {
  display: flex;
  width: 50vw;
  padding: 1.5rem;
}

.icon {
  width: 15vw;
  height: 15vw;
  max-width: 36px;
  max-height: 36px;
}

h2 {
  margin: 0 0.5rem;
  font-size: clamp(13px, 6vw, 1.8rem);
}

.page-link {
  margin: 0.5rem 15vw;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  color: black;
}

.page-link:nth-child(2n) {
  margin-top: 0.5rem;
}

.page-link:nth-child(3n) {
  margin-top: 0.5rem;
  margin-bottom: 5.5rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

a {
  color: #3d0e3c;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}