@font-face {
  font-family: Nastaleeq;
  src: url('./Jameel\ Noori\ Nastaleeq\ Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Mea Culpa', cursive;
  box-sizing: border-box;
}

.invisible {
  display: none !important;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pics { position: relative; }

.bg-image {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./images/branch-of-small-flowers.jpeg'),
    rgba(203, 182, 201, 0.42);
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw clamp(67vh, 640px, 100vw);
  border: 8px groove #724a6d;
  filter: blur(5px);
}

#main-pic {
  /* z-index: 100; */
  max-width: 100vw;
  max-height: 100vh;
  border: 4px groove #724a6d;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

#outer-circle {
  /* z-index: 50; */
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  --pic-width: min(100vw, calc(100vh * 0.5625));
  --pic-height: min(100vh, calc(100vw * 1.7778));
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--pic-height) * 0.338);
}

a.main-circle {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  padding: 2rem;
  flex-wrap: wrap;
  /* text-decoration: none; */
  /* color: rgb(61, 14, 60); */
  /* font-weight: bold; */
  /* font-size: min(9vw, 3rem); */
  /* background: #724a6d; */
  border-radius: 50%;
  margin: min(1vw, 1rem);
  font-size: calc(3rem - calc(var(--pic-width) * 0.01));
  --radius: calc(var(--pic-width) - calc(var(--pic-width) * 0.27));
  width: var(--radius);
  height: var(--radius);
}

a.urdu {
  font-size: min(12vw, 4rem);
}

a:hover,
a:active {
  background: rgb(203, 182, 201);
  box-shadow: 0 0 5px 5px;
}

.semicircle {
  z-index: -10;
  position: fixed;
  bottom: 0;
  right: -25vw;
  left: -25vw;
  height: 40.5vh;
  background-color: rgb(203, 182, 201);
  border-radius: 50% 50% 0 0;
  filter: blur(2px);
}

footer {
  /* position: absolute; */
  /* right: 10px; */
  /* bottom: 8px; */
  /* left: 10px; */
  margin-top: calc(
    calc(calc(100vh - min(100vh, calc(100vw * 1.778))) * -0.5) - 82px
  );
  text-align: center;
}

footer a {
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  /* border-radius: 25px; */
}
