/*
  Todo:
    1) RUN IS_CHECKED? ON PREGNANCY ELEMENTS INITIALLY, INSTEAD OF ADDING MANUALLY
*/

* {
  box-sizing: border-box;
}

.invisible {
  display: none !important;
}

h1 {
  text-align: center;
}

#how-to {
  text-align: center;
  width: 90vw;
  margin: auto;
}

hr {
  margin: 1rem 0;
}

form {
  margin: 0.5rem 0;
}

input {
  margin: 0.5rem;
}

#input_containers_container {
  display: flex;
  width: 100vw;
  margin: auto;
  overflow: auto;
}

#input_container {
  margin: 0 auto;
}

#button_add_before_container > button {
  margin: 0;
}

.aadat {
  width: 2.5rem;
}

button {
  border-radius: 5px;

}

.plus {
  color: black;
  background-color: rgba(0, 128, 0, 0.5);
}

.clone {
  font-weight: bold;
  font-size: 14px;
}

.minus {
  color: red;
  background-color: rgba(128, 0, 0, 0.5);
}