@font-face {
  font-family: Nastaleeq;
  src: url('./Jameel\ Noori\ Nastaleeq\ Regular.ttf');
}

/* General */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

html {
  scroll-behavior: smooth
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  --bg-color: rgb(243, 237, 241);
  --primary1: rgb(236, 226, 236);
  --primary2: rgb(205, 186, 203);
  --primary3: rgb(169, 147, 166);
  --delete: rgb(145, 120, 142);
  --add: #0002;
  --urdu-font: Nastaleeq, serif;
}

#bg {
  z-index: -100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);
  background: -moz-linear-gradient(
    45deg,
    var(--primary3) 0%,
    var(--primary1) 33%,
    var(--primary2) 66%,
    var(--bg-color) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    var(--primary3) 0%,
    var(--primary1) 33%,
    var(--primary2) 66%,
    var(--bg-color) 100%
  );
  background: linear-gradient(
    45deg,
    var(--primary3) 0%,
    var(--primary1) 33%,
    var(--primary2) 66%,
    var(--bg-color) 100%
  );
}

.rtl {
  direction: rtl;
  font-family: 'Noto Nastaliq Urdu', serif;
  font-family: var(--urdu-font);
}

.urdu,
.urdu * {
  direction: rtl;
  font-family: 'Noto Nastaliq Urdu', serif;
  font-family: var(--urdu-font);
}

.lang-invisible,
.invisible {
  display: none !important;
  visibility: hidden !important;
}

.hidden {
  visibility: hidden !important;
}

/* Header */
header {
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  flex: 5;
}

a {
  text-decoration: none;
}

.nav-link {
  display: flex;
  margin: 1rem;
  color: rgb(61, 14, 60);
  box-shadow: 2px 2px 4px 0.5px;
  border-radius: 12px;
  padding: 0.3rem;
  background: none;
  border: none;
}

.icon {
  width: 36px;
  height: 36px;
}

#language-selection {
  text-align: center;
  width: 90vw;
  margin: auto;
}

hr {
  margin: 1rem 0 0 0;
}

/* Haz Input Containers */
#input_containers_container {
  display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  width: 100vw;
  font-size: 1.2rem;
  overflow: auto;
  margin: auto;
}

.input_container {
  float: left;
  margin: 0 auto;
  /* width: min(100vw, 410px); */
  width: clamp(min(301px, 100vw), 100vw, 375px);
  border: 1px;
}

.date_and_time {
  width: clamp(min(517px, 100vw), 100vw, 517px);
}

.label-input {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px groove;
}

.row:nth-child(even) {
  background: var(--primary1);
}

.row:nth-child(odd) {
  background: var(--primary2);
}

/* Haz Inputs */
details > summary.ikhtilaf {
  list-style-type: '⚙';
  margin: 1rem 1rem 0 1rem;
  transition: 0.4s;
}

details[open] > summary.ikhtilaf {
  list-style-type: '⚛';
}

details > b {
  margin: 1rem;
}

textarea,
input {
  margin: 0.5rem;
  padding: 0.5rem;
  resize: vertical;
}

input[type='date'],
input[type='datetime-local'] {
  margin-left: 0;
  margin-right: 0;
  direction: ltr;
}

select {
  padding: 0.2rem;
  font-size: 1rem;
  margin: 0.5rem;
  font-family: 'Noto Nastaliq Urdu', serif;
  font-family: var(--urdu-font);
}

label {
  margin: 0.5rem 0.5rem 0 0.5rem;
  flex: 1;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

#button_add_before_container > button {
  margin: 0;
}

.plus {
  background-color: var(--add);
}

.minus {
  background-color: var(--delete);
}

/* Question */
details {
  margin: 0.5rem 0 0.5rem 0;
}

/* Table */
table {
  width: 100%;
}

tbody > tr:nth-child(even) {
  background: var(--primary2);
}

tbody > tr:nth-child(odd) {
  background: var(--primary1);
}

.calc-btn {
  padding: 0.4rem;
  font-size: 1.1rem;
  margin: 0.5rem;
  background: var(--primary3);
}

/* Results */
#content_container {
  padding: 1rem;
  max-width: 100vw;
  overflow: auto;
}

.shrunk {
  max-height: 70px;
}

#content_wrapper {
  position: relative;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.copy_btn {
  position: relative;
  display: inline;
}

.copy_btn .copy_tooltip {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -50%;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: -23px;
  font-size: initial;
}
.copy_btn.right .copy_tooltip {
  left: 100%;
}
.copy_btn.left .copy_tooltip {
  right: 100%;
}

.copy_btn .copy_tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}
.copy_btn.right .copy_tooltip::after {
  right: 100%;
  border-color: transparent #555 transparent transparent;
}
.copy_btn.left .copy_tooltip::after {
  left: 100%;
  border-color: transparent transparent transparent #555;
}

.copy_btn:hover .copy_tooltip {
  visibility: visible;
  opacity: 1;
}

.flex {
  display: flex;
}

.zero-flex {
  flex: 0;
}

/* Comparison Container */
#comparison_container {
  overflow: auto;
}

#dates_difference_table {
  --columns: 0;
  --rows: 0;
  --paaki: var(--primary2);
  --na-paaki: #AC0C0C;
  --shakk: yellow;
  --description: var(--primary3);
  grid-template: 25px 25px 15px repeat(var(--rows), 1fr) / 2rem 1fr repeat(var(--columns), 2rem);
  width: max-content;
  margin: 1rem auto;
  padding-bottom: 1rem;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  text-align: center;
}

.table_cell {
  text-align: center;
  padding: 6px 0;
}

.description {
  padding: 6px 1rem;
  background-color: var(--description);
}

.bordered {
  border: 1px solid black;
}

.half_table_cell {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.empty_table_cell {
  background-color: var(--paaki);
}

.na_paaki {
  background-color: var(--na-paaki);
}

.ayyam_e_shakk {
  background-color: var(--shakk);
}

.title_cell.urdu-align {
  transform: translateX(50%);
}

.title_cell.english-align {
  transform: translateX(-50%);
}

/* FAQ faqs */
main {
  width: clamp(min(50vw, 400px), 400px, 100vw);
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
}

details.faq-det {
  margin: 2rem 1rem 1rem 1rem;
}

summary {
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

/* FAQ Contact Form */
#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form ul {
  padding: 0;
}

#contact-form li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#contact-form textarea {
  height: 7rem;
}

#contact-form button {
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  --diameter: 20px;
  --margin: 3px;
  width: calc(calc(var(--diameter) * 2) + calc(var(--margin) * 2));
  height: calc(var(--diameter) + calc(var(--margin) * 2));
  margin: 0.3rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: var(--diameter);
  width: var(--diameter);
  left: var(--margin);
  bottom: var(--margin);
  background-color: var(--primary1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary3);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--diameter));
  -ms-transform: translateX(var(--diameter));
  transform: translateX(var(--diameter));
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Home Page */
.page-link {
  display: flex;
  align-items: center;
}

.page-link .icon {
  margin: 0.5rem;
}

.page-link h2 {
  color: rgb(61, 14, 60);
}

.row p {
  font-size: 1rem;
}
